*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI',sans-serif;
    background:#0f172a;
    color:#f8fafc;
}

/* Header */
header{
    background:#020617;
    padding:15px 70px;
    position:sticky;
    top:0;
    z-index:1000;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:28px;
    color:white;
}

nav ul{
    display:flex;
    gap:30px;
    list-style:none;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:16px;
}

nav ul li a:hover{
    color:#60a5fa;
}


/* Hero Section */

.hero{
    min-height:90vh;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:60px;
    gap:40px;
}

.hero-content{
    width:50%;
}

.welcome{
    color:#3b82f6;
    font-size:20px;
}

.hero h1{
    font-size:52px;
    margin:10px 0;
}

.hero h2{
    color:#60a5fa;
    margin-bottom:20px;
}

.hero p{
    line-height:1.8;
    color:#cbd5e1;
}


.hero-image img{
    width:270px;
    height:270px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #3b82f6;
}


/* Buttons */

.button{
    display:inline-block;
    width:150px;
    padding:12px 0;
    background:#2563eb;
    color:white;
    text-decoration:none;
    text-align:center;
    border-radius:10px;
    margin-top:20px;
    margin-right:10px;
}

.button:hover{
    background:#1d4ed8;
}



/* Common Section */

.section{
    padding:70px 80px;
    text-align:center;
}

.section h2,
.skills h2{
    color:#60a5fa;
    margin-bottom:40px;
    font-size:35px;
}


/* Skills */

.skills{
    padding:80px;
    text-align:center;
}


.skills-container{
    width:100%;
    max-width:1200px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}


.skill-card{
    background:#1e293b;
    padding:40px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.3);
    transition:0.3s;
}


.skill-card:hover,
.card:hover{
    transform:translateY(-8px);
}


.skill-card h3,
.card h3{
    color:#3b82f6;
    margin-bottom:10px;
}


.skill-card p,
.card p{
    color:#cbd5e1;
    line-height:1.6;
}



/* Projects */

.cards{
    width:100%;
    max-width:1200px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}


.card{
    width:100%;
    min-height:350px;
    background:#1e293b;
    padding:25px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.3);
    display:flex;
    flex-direction:column;
    gap:15px;
    transition:0.3s;
}


.card img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:10px;
}



/* Internship */

#internship p{
    max-width:850px;
    margin:15px auto;
    line-height:1.8;
}



/* Contact */

.contact-info{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:25px;
    margin-top:20px;
    flex-wrap:wrap;
}


.contact-info a{
    color:white;
    text-decoration:none;
    font-size:16px;
}


.contact-info a:hover{
    color:#60a5fa;
}



/* Footer */

footer{
    background:#020617;
    color:white;
    text-align:center;
    padding:20px;
}

@media(max-width:768px){

    header{
        padding:15px 20px;
    }


    nav{
        display:flex;
        flex-direction:row;
        gap:20px;
    }


    nav ul{
        flex-direction:row;
        gap:15px;
        flex-wrap:wrap;
    }


    .hero{
        flex-direction:column;
        padding:40px 20px;
        text-align:center;
    }


    .hero-content{
        width:100%;
    }


    .hero h1{
        font-size:35px;
    }


    .hero-image img{
        width:220px;
        height:220px;
    }


    .skills{
        padding:50px 20px;
    }


    .section{
        padding:50px 20px;
    }


    .skills-container,
    .cards{
        grid-template-columns:1fr;
    }


    .button{
        width:140px;
        margin-right:5px;
    }


    .contact-info{
        flex-direction:column;
    }

}